jax
flax==0.8.2
chex==0.1.86
optax==0.2.2
jaxopt==0.8.3
datasets
polars
h5py
einops==0.7.0
Pillow
tqdm
scikit-learn
psutil
matplotlib
numpy
pandas
scikit-image==0.22.0
scikit-learn==1.4.2
scipy==1.11.3
jinja2
