chex==0.1.86
jax==0.4.30
flax==0.8.2
optax==0.2.2
jaxopt==0.8.3
datasets==2.20.0
polars==1.0.0
h5py==3.11.0
einops==0.7.0
Pillow==10.4.0
tqdm==4.66.3
scikit-learn
psutil==6.0.0
matplotlib==3.9.1
numpy==1.26.4
pandas==2.2.2
scikit-image==0.22.0
scikit-learn==1.4.2
scipy==1.11.3
jinja2==3.1.4
pycryptodome==3.19.0
Pygments==2.16.1
pyseltongue==1.0.2
rarfile==4.1
jupyterlab==4.2.3
grid2op==1.9.6
lightsim2grid==0.7.5
numba==0.60.0
safetensors==0.4.1
l2rpn-baselines==0.8.0
stable-baselines3==2.2.1
